<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PizzaGo - Найсмачніша піца</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/styles/client-styles.css}" />
    <link rel="stylesheet" th:href="@{/styles/admin.css}" />
</head>
<body>
<header class="header">
    <div class="logo">
        <a th:href="@{/}"><img th:src="@{/images/Logo.svg}" alt="" /></a>
    </div>

    <nav class="header-navigation">
        <a th:href="@{/admin-crud}" style="font-weight: bold; color: #6a4821;">Товари</a>
        <a th:href="@{/admin/orders}">Замовлення</a>
        <a th:href="@{/admin/cars}">Автопарк</a>
        <a th:href="@{/admin/stats}">Статистика</a>
    </nav>

    <div class="header-user-actions">
        <svg class="ham hamRotate ham7" viewBox="0 0 100 100"  onclick="toggleMobileMenu()" id="burger-btn">
            <path
                    class="line top"
                    d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013" />
            <path
                    class="line middle"
                    d="m 70,50 h -40" />
            <path
                    class="line bottom"
                    d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40" />
        </svg>
        <a style="font-weight: bold; cursor:auto; margin-right:10px;cursor:pointer;" onclick="handleUserClick(event)">Адмін Панель</a>
        <a href="#" onclick="logout()" style="color: red; text-decoration: none;">Вихід</a>

    </div>
    <div id="mobileMenu">
        <div class="mobile-menu-content">
            <nav class="mobile-header-navigation">
                <a th:href="@{/admin-crud}" style="font-weight: bold; color: #6a4821;">Товари</a>
                <a th:href="@{/admin/orders}">Замовлення</a>
                <a th:href="@{/admin/cars}">Автопарк</a>
                <a th:href="@{/admin/stats}">Статистика</a>
                <a href="#" onclick="logout()" style="color: red; text-decoration: none;">Вихід</a>
            </nav>
        </div>
    </div>
</header>


<div class="filters conteiner" style="display:flex; flex-direction:row;">
    <label class="filter-item">
        <input type="checkbox" checked />
        <span>Піца</span>
    </label>

    <label class="filter-item">
        <input type="checkbox" />
        <span>Салати</span>
    </label>

    <label class="filter-item">
        <input type="checkbox" />
        <span>Напої</span>
    </label>

    <label class="filter-item">
        <input type="checkbox" />
        <span>Десерти</span>
    </label>
</div>

<main class="products-grid conteiner">

    <article class="card" th:each="pizza : ${pizzaList}">
        <div class="image-container">
            <img th:src="${pizza.imageUrl}" alt="Піца" class="card-img" />
        </div>

        <div class="card-body">
            <h3 class="card-title" th:text="${pizza.name}">Назва</h3>

            <div class="tags">
                <span class="tag"
                      th:each="ing : ${#strings.arraySplit(pizza.description, ',')}"
                      th:text="${ing.trim()}">
                   Інгредієнт
                </span>
            </div>

            <div class="card-footer" >
                <span class="weight">30см / 400 г</span>
                <span class="price" th:text="${pizza.price} + ' ₴'">0 ₴</span>
            </div>

            <div class="admin-actions">
                <a th:href="@{/admin/edit/{id}(id=${pizza.id})}" class="btn-admin btn-edit">
                    Редагувати
                </a>

                <button class="btn-admin btn-delete"
                        th:onclick="'deletePizza(' + ${pizza.id} + ')'">
                    Видалити
                </button>
            </div>
        </div>
    </article>
    <a href="/admin/add" class="card card-add-new">
        <div class="plus-icon">+</div>
        <span class="add-text">Додати нову страву</span>
    </a>
    <div th:if="${#lists.isEmpty(pizzaList)}" style="text-align: center; grid-column: 1/-1;">
        <h3>Товарів поки немає. Додайте перший!</h3>
    </div>

</main>
<script th:src="@{/js/client.js}"></script>
<script th:src="@{/js/admin.js}"></script>

</body>
</html>