<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Додати нову страву - PizzaGo</title>
    <link rel="stylesheet" th:href="@{/styles/client-styles.css}" />
    <link rel="stylesheet" th:href="@{/styles/auth.css}" />
    <link rel="stylesheet" th:href="@{/styles/admin.css}" />
    <link rel="stylesheet" th:href="@{/styles/admin-add-dish.css}" />

</head>
<body>

<header class="header">
    <div class="logo">
        <a th:href="@{/}"><img th:src="@{/images/Logo.svg}" alt="" /></a>
    </div>
    <div class="header-user-actions">
        <a th:href="@{/admin-crud}" style="font-weight: bold; color: #6a4821;">Назад до списку</a>
    </div>
</header>

<main>
    <div class="auth-container" style="max-width: 700px;">
        <h2 style="margin-bottom: 30px;">Додати нову страву</h2>

        <form onsubmit="handleCreateProduct(event)">

            <div class="form-group">
                <label>Назва страви</label>
                <input type="text" id="name" required placeholder="Наприклад: Салат Цезар">
            </div>

            <div class="form-group">
                <label>Категорія</label>
                <select id="category" required onchange="toggleIngredients(this.value)">
                    <option value="" disabled selected>Оберіть категорію...</option>
                    <option value="pizza">Піца</option>
                    <option value="salad">Салати</option>
                    <option value="drink">Напої</option>
                    <option value="dessert">Десерти</option>
                </select>
            </div>

            <div class="form-group">
                <label>Ціна (грн)</label>
                <input type="number" id="price" required placeholder="0" min="1" step="any">
            </div>

            <div class="form-group">
                <label>Опис (або історія страви)</label>
                <textarea id="description" rows="3" placeholder="Класична/гостра..."></textarea>


            <div class="form-group">
                <label>Посилання на фото (URL)</label>
                <input type="url" id="imageUrl" placeholder="https://...">
            </div>

            <button type="submit" class="btn-auth">Зберегти страву</button>
        </form>

    </div>
</main>

<script th:src="@{/js/client.js}"></script>
<script th:src="@{/js/admin.js}"></script>


</body>
</html>