<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PizzaGo - Найсмачніша піца</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/styles/client-styles.css}" />
    <link rel="stylesheet" th:href="@{/styles/utils.css}" />
</head>
<body>
<header class="header">
    <div class="logo">
        <a  th:href="@{/}"><img th:src="@{/images/Logo.svg}" alt="" /></a>
    </div>
    <nav class="header-navigation">
        <a th:href="@{/}"class="active-link">Меню</a>
        <a th:href="@{/promo}">Акції</a>
        <a th:href="@{/delivery}">Доставка</a>
        <a th:href="@{/about}">Про нас</a>
    </nav>

    <div class="header-user-actions">
        <a href="/cart" id="cart-wrapper" style="position: relative; cursor: pointer; text-decoration: none; color: inherit; display: flex; align-items: center; margin-right:10px;">
            <svg class="header-cart" width="36" height="36">
                <use th:href="@{/images/icons.svg#cart}"></use>
            </svg>
        </a>

        <a href="#" id="user-wrapper" onclick="handleUserClick(event)" class="header-icon-link">
            <svg class="header-user" width="36" height="36">
                <use th:href="@{/images/icons.svg#user}"></use>
            </svg>
        </a>
        <svg class="ham hamRotate ham7" viewBox="0 0 100 100"  onclick="toggleMobileMenu()" id="burger-btn">
            <path
                    class="line top"
                    d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013" />
            <path
                    class="line middle"
                    d="m 70,50 h -40" />
            <path
                    class="line bottom"
                    d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40" />
        </svg>

    </div>
    <div id="mobileMenu">
        <div class="mobile-menu-content">

            <nav class="mobile-header-navigation">
                <a th:href="@{/}"class="active-link">Меню</a>
                <a th:href="@{/promo}">Акції</a>
                <a th:href="@{/delivery}">Доставка</a>
                <a th:href="@{/about}">Про нас</a>
            </nav>

            <a href="#" class="mobile-user user-icon" onclick="handleUserClick(event)">
                <svg class="header-user" width="28" height="28">
                    <use th:href="@{/images/icons.svg#user}"></use>
                </svg>
                Мій кабінет
            </a>

        </div>
    </div>

</header>

<div class="filters conteiner">
    <label class="filter-item">
        <input type="checkbox" value="pizza" checked onchange="filterMenu()" />
        <span>Піца</span>
    </label>

    <label class="filter-item">
        <input type="checkbox" value="salad" checked onchange="filterMenu()" />
        <span>Салати</span>
    </label>

    <label class="filter-item">
        <input type="checkbox" value="drink" checked onchange="filterMenu()" />
        <span>Напої</span>
    </label>

    <label class="filter-item">
        <input type="checkbox" value="dessert"  checked onchange="filterMenu()" />
        <span>Десерти</span>
    </label>
</div>


<main class="products-grid conteiner">

    <article class="card" th:each="pizza : ${pizzaList}"
             th:data-category="${pizza.category}">
        <div class="image-container">
            <img
                    th:src="${pizza.imageUrl}"
                    alt="Піца"
                    class="card-img"
            />
            <button class="btn-add-overlay"
                    onclick="addToCart(this)"
                    th:data-id="${pizza.id}"
                    th:data-name="${pizza.name}"
                    th:data-price="${pizza.price}"
                    th:data-img="${pizza.imageUrl}"
                    th:data-category="${pizza.category}"> +
            </button>
        </div>
        <div class="card-body">
            <h3 class="card-title" th:text="${pizza.name}">Назва піци</h3>

            <div class="tags">
                <span class="tag"
                      th:each="ingName : ${pizza.ingredientNames}"
                      th:text="${ingName}">
                   Сир Моцарела
                </span>

                <span class="tag"
                      th:if="${#lists.isEmpty(pizza.ingredientNames) && pizza.description != null}"
                      th:each="descTag : ${#strings.arraySplit(pizza.description, ',')}"
                      th:text="${descTag.trim()}">
                   Старий опис
                </span>
            </div>

            <div class="card-footer">
                 <span class="weight"
                       th:if="${pizza.category == 'pizza' or pizza.category == 'Піца' or pizza.category == null}">
                  30см / 400 г
                  </span>
                <span class="weight"
                      th:if="${pizza.category == 'salad' or pizza.category == 'Салати'}">300 г </span>
                <span class="weight"
                      th:if="${pizza.category == 'drink' or pizza.category == 'Напої'}">0.5 л </span>
                <span class="weight"
                      th:if="${pizza.category == 'dessert' or pizza.category == 'Десерти'}">150 г </span>
                <span class="price" th:text="${pizza.price} + ' ₴'">0 ₴</span>
            </div>
        </div>
    </article>

    <div th:if="${#lists.isEmpty(pizzaList)}" style="text-align: center; width: 100%;">
        <h2>Меню поки порожнє 😔</h2>
    </div>

</main>

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-col">
            <div class="logo">
                <a  th:href="@{/}"><img th:src="@{/images/logo-footer.svg}" alt="" /></a>
            </div>
            <p class="footer-text">
                Готуємо з любов'ю, доставляємо зі швидкістю світла!
            </p>
        </div>
        <div class="footer-col">
            <ul class="footer-lists">
                <li class="footer-menu"><a th:href="@{/}">Меню</a></li>
                <li class="footer-menu"><a th:href="@{/promo}">Акції</a></li>
                <li class="footer-menu"><a th:href="@{/delivery}">Доставка та оплата</a></li>
                <li class="footer-menu"><a th:href="@{/about}">Про нас</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <ul class="footer-lists">
                <li>
                    <a href="tel:+380960000007" class="contact-phone"
                    >+ 38 (096) 000 00 07</a
                    >
                </li>
                <li><p>Щодня з 10:00 до 22:00</p></li>
                <li><p>м. Київ, вул. Тараса Шевченка 5</p></li>
                <li>
                    <div class="footer-social-icons">
                        <a href="#"
                        ><svg width="22" height="37">
                            <use th:href="@{/images/icons.svg#facebook}"></use>
                        </svg>
                        </a>
                        <a href="#"
                        ><svg width="33" height="33">
                            <use th:href="@{/images/icons.svg#instagram}"></use>
                        </svg>
                        </a>
                        <a href="#"
                        ><svg width="36" height="27">
                            <use th:href="@{/images/icons.svg#twitter}"></use>
                        </svg>
                        </a>
                        <a href="#"
                        ><svg width="30" height="35">
                            <use th:href="@{/images/icons.svg#phone}"></use>
                        </svg>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer-col">
            <ul class="footer-lists">
                <li>
                    <a class="footer-text-politic" th:href="@{/privacy}">Політика конфіденційності</a>
                </li>
                <li>
                    <p class="footer-text-rights">© 2026 PizzaGo. Всі права захищені.</p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script th:src="@{/js/client.js}"></script>

</body>
</html>