<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Оформлення замовлення</title>
    <link rel="stylesheet" th:href="@{/styles/client-styles.css}" />
    <link rel="stylesheet" th:href="@{/styles/auth.css}" />
    <link rel="stylesheet" th:href="@{/styles/order.css}" />
</head>
<body>

<header class="header">
    <div class="logo"><a th:href="@{/}"><img th:src="@{/images/Logo.svg}" alt="" /></a></div>
    <div class="header-user-actions">
        <a th:href="@{/cart}" style="font-weight: bold; color: #6a4821;">Назад</a>
    </div>
</header>

<main>
    <div class="auth-container" style="max-width: 800px; margin-top: 40px;">
        <h2 style="margin-bottom: 30px; text-align: center;">Одержувач замовлення</h2>

        <form onsubmit="finishOrder(event)">
            <div class="checkout-grid">
                <div class="form-group">
                    <label>ПІБ</label>
                    <input type="text" id="fullName" autocomplete="name" required placeholder="Іванов Іван">
                </div>
                <div class="form-group">
                    <label>Телефон</label>
                    <input type="tel" id="phone" inputcomplete="tel"  required placeholder="+380...">
                </div>
            </div>

            <h3 style="margin-top: 20px;">Доставка</h3>
            <div class="form-group">
                <label>Місто</label>
                <input type="text" id="city" required placeholder="Київ">
            </div>

            <div class="address-group">
                <div class="form-group">
                    <label>Вулиця</label>
                    <input type="text" id="street" required placeholder="Хрещатик">
                </div>
                <div class="form-group">
                    <label>Будинок</label>
                    <input type="text" id="house" required placeholder="1">
                </div>
                <div class="form-group">
                    <label>Кв./Офіс</label>
                    <input type="text" id="apartment"  placeholder="15">
                </div>

            </div>
            <h3 style="margin: 20px 0;">Час доставки</h3>
            <input type="datetime-local" id="deliveryTime"
                   style="width: 100%; padding: 15px; border-radius: 20px; border: 2px solid #EFEFEF; font-family: inherit;">
            <small style="color: #777; margin-top: 5px; display: block;">
                * Якщо залишити пустим, привеземо "якнайшвидше" (30-40 хв)
            </small>
            <h3 style="margin: 20px 0;">Оплата</h3>
            <div class="form-group">
                <div class="radio-group">
                    <label class="radio-item">
                        <input type="radio" name="payment" value="CASH" checked>
                        Готівкою при отриманні
                    </label>
                    <label class="radio-item">
                        <input type="radio" name="payment" value="ONLINE">
                        Карткою онлайн (Google Pay / Apple Pay)
                    </label>
                </div>
            </div>



            <button type="submit" class="btn-auth" style="margin:10px 0;">ОФОРМИТИ ЗАМОВЛЕННЯ</button>
            <p>Підтверджуючи замовлення, я приймаю умови угоди користувача</p>
        </form>
    </div>
</main>
<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-col">
            <div class="logo">
                <a  th:href="@{/}"><img th:src="@{/images/logo-footer.svg}" alt="" /></a>
            </div>
            <p class="footer-text">
                Готуємо з любов'ю, доставляємо зі швидкістю світла!
            </p>
        </div>
        <div class="footer-col">
            <ul class="footer-lists">
                <li class="footer-menu"><a th:href="@{/}">Меню</a></li>
                <li class="footer-menu"><a th:href="@{/promo}">Акції</a></li>
                <li class="footer-menu"><a th:href="@{/delivery}">Доставка та оплата</a></li>
                <li class="footer-menu"><a th:href="@{/about}">Про нас</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <ul class="footer-lists">
                <li>
                    <a href="tel:+380960000007" class="contact-phone"
                    >+ 38 (096) 000 00 07</a
                    >
                </li>
                <li><p>Щодня з 10:00 до 22:00</p></li>
                <li><p>м. Київ, вул. Тараса Шевченка 5</p></li>
                <li>
                    <div class="footer-social-icons">
                        <a href="#"
                        ><svg width="22" height="37">
                            <use th:href="@{/images/icons.svg#facebook}"></use>
                        </svg>
                        </a>
                        <a href="#"
                        ><svg width="33" height="33">
                            <use th:href="@{/images/icons.svg#instagram}"></use>
                        </svg>
                        </a>
                        <a href="#"
                        ><svg width="36" height="27">
                            <use th:href="@{/images/icons.svg#twitter}"></use>
                        </svg>
                        </a>
                        <a href="#"
                        ><svg width="30" height="35">
                            <use th:href="@{/images/icons.svg#phone}"></use>
                        </svg>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer-col">
            <ul class="footer-lists">
                <li><a class="footer-text-politic" th:href="@{/privacy}">Політика конфіденційності</a></li>
                <li>
                    <p class="footer-text-rights">
                        © 2025 PizzaGo. Всі права захищені.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script th:src="@{/js/order.js}"></script>

</body>
</html>