.profile-card {
  background: white;
  min-width: 600px;
  width: 100%;
  margin: 40px auto;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  border-top: 5px solid #fbbb54;
}

.profile-header {
  text-align: center;
  margin-bottom: 30px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  background: #fff8e1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  font-size: 40px;
  color: #fbbb54;
  border: 2px solid #fbbb54;
}



.btn-save {
  width: 100%;
  padding: 15px;
  background: #193948;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.btn-save:hover {
  background: #fbbb54;
  color: #193948;
}
@media (max-width: 768px) {
    .profile-card{
        min-width: 500px
    }
}
@media (max-width: 480px) {
    .profile-card{
        min-width: 300px
    }
}