.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.address-group {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* Вулиця ширша, дім і кв вужчі */
  gap: 10px;
}
.radio-group {
  background: #fafafa;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #efefef;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.radio-item {
  display: flex !important;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom:10px !important;
  font-size: 16px;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: #fbbb54;
}
#deliveryTime{
   font-size: 16px;
}
@media (max-width: 768px) {

  main {
    padding: 20px;
  }

  .auth-container {
    max-width: 100% !important;
    margin-top: 20px !important;
    padding: 30px;
  }

  /* Імʼя + телефон → в колонку */
  .checkout-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  /* Адреса → все вертикально */
  .address-group {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  /* Заголовки */
  h2 {
    font-size: 22px;
    max-width: 300px;
    margin: 0 auto 32px;
  }

  h3 {
    font-size: 18px;
  }

  /* Кнопка */
  .btn-auth {
    width: 100%;
    padding: 16px;
    font-size: 16px;
  }

  /* Radio */
  .radio-item {
    font-size: 15px;
  }

  input,
  #deliveryTime {
    font-size: 15px;
  }
}
@media (max-width: 480px) {

  .auth-container {
    padding: 16px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  label {
    font-size: 14px;
  }

  input,
  #deliveryTime {
    padding: 14px;
    font-size: 14px;
  }

  .radio-group {
    padding: 12px;
  }

  .radio-item {
    gap: 8px;
  }
}
