.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.address-group {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* Вулиця ширша, дім і кв вужчі */
  gap: 10px;
}
.radio-group {
  background: #fafafa;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #efefef;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.radio-item {
  display: flex !important;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom:10px !important;
  font-size: 16px;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: #fbbb54;
}
#deliveryTime{
   font-size: 16px;
}